.cpanelContainer { color: #787878 !important;
    display: block;
    left: 0;
    padding-left: 0;
    position: fixed;
    top: 15%;
    z-index: 1000; }
.cpanel_icon  { 
	background: url("../../image/icon-config.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    left: 0;
    position: absolute;
    text-indent: -9999px;
    top: 56px;
    width: 50px;
	transition:all 0.5s ease 0s;
}
.cpanel_icon:hover{background: url("../../image/icon-config-hover.png") no-repeat scroll 0 0 transparent;}
.boss-themedesign.cpanel_opened .cpanel_icon {
    left: 272px;
}
.boss-themedesign-info h2{
    margin-bottom: 11px;
	font-family:'Advent Pro',sans-serif!important;
	font-size:16px;
	color:#c35000!important;
}
.boss-themedesign{ }
.boss-themedesign.cpanel_opened {
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C5C2C2;
    border-radius: 3px 3px 3px 3px;
    left: 0;
    padding: 10px;
    position: absolute;
    top: 0;
    width: 282px;
 }
.boss-themedesign.cpanel_closed h2, .boss-themedesign.cpanel_closed  #bt_category, .boss-themedesign.cpanel_closed  .boss-themedesign-info .reset{ display:none}
.boss-themedesign  > h2 { margin-bottom:10px; text-transform:uppercase; padding:0 10px; color:#000!important}


.bt_category { border:1px solid #ccc; background:#fff;overflow:hidden} 
#bt_category  { max-height:400px; overflow-y:auto}
#bt_category  li { padding:10px 0 10px 10px ; overflow:hidden; transition:background 0.3s ease-in-out; line-height: 18px;}
#bt_category  li:hover{background:#E6E6E6}
#bt_category  li ul li { padding:0 0 15px 10px; border:none}
#bt_category  li ul h2.title{font:700 12px Arial!important; text-transform:uppercase; color:#000!important}
#bt_category ul.design_background li:first-child {
	display: block;
    margin: 0;
    padding-left: 0;
    width: 100%;
}
#bt_category ul.design_background  li:first-child h3{padding-left:10px}
#bt_category ul { padding-top:10px; clear:both; font:400 12px Arial!important}
#bt_category ul p{color:#000!important}
#bt_category  li a { float:left; font-weight:bold}
#bt_category  li a:hover{border-bottom:none}
#bt_category  li a.active { color:#af0600!important}
#bt_category  li h3, #bt_category  li h4 {
	color: #323232 !important;
    display: block;
    font: 400 12px Arial!important;
    margin-bottom: 5px;
    margin-top: 8px;
}
.boss-themedesign-info .reset{
	max-height: 400px;
    overflow-y: auto;
	margin-top:10px
}

.design_background { overflow: hidden; }
.design_background li { float:left; margin-right:2px}
.boss-themedesign  .design_background a:hover { background:none}
.boss-themedesign  .design_background a { background:none; padding:2px}
.boss-themedesign  .design_background a img { display:block; border:1px solid #c2c2c2 }
.boss-themedesign  .design_background a img:hover{border:1px solid #979797}
.design_background img{height:30px;width:30px;}
.boss-themedesign  .design_background a:hover , .boss-themedesign  .design_background a.active {}

.accordion_content {}
.accordion_content h3 { margin:0 0 5px 0; width:185px;float:left}
.accordion_content li div { float:left}
.accordion_content li select { width:100%; height: auto;line-height: normal;padding: 2px 5px; font:400 12px Arial!important; color:#515151!important}
.accordion_content li div.boss_font{ width:66%; margin-right:5px}
.accordion_content li div.boss_size { width:30%}
.accordion_content li div.boss_color_scheme { float:none}
.accordion_content li   h3 { margin-top:7px}
.accordion_content li  p{clear:both; overflow:hidden; margin-left: 15px; line-height:30px}
.accordion_content li  p span{font:400 12px Arial!important; color:#000!important}
.accordion_content label { float:left; margin-right:5px; margin-top:3px}
.boss_design_color li div { float:none}
.boss_design_color #customWidget { float:right }
.colorpicker { z-index:9999; position:fixed}
.btn-reset{
	background-color:#C30005;
    border: medium none;
    border-radius: 0;
    color: #FFFFFF!important;
    font-family: 'Advent Pro',sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 18px;
    text-transform: uppercase;
    transition: background 0.5s ease 0s;
}
span.expand {  background:url(../../image/icon_shopby.png) no-repeat right -19px ;display:inline-block;  cursor:pointer; width:100%; font:400 12px Arial!important}
span.expand:hover { }
#bt_category input{ clear:both}
#bt_category input[type='text']{
	border: 3px solid #BDBDBD;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 3px #BCBCBC inset;
    clear: none;
    cursor: crosshair;
    float: right;
    height: 25px;
    padding: 0;
    text-indent: -9999px;
    width: 25px !important;
}
@media only screen and (max-width: 767px) {	
.cpanelContainer { display:none}
}